* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

/* #region Header */

#headerback {
    background-image: url(../img/headerback.jpg); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    margin-bottom: 2px;
    text-align: center;
    background-attachment: fixed;
    position: relative;
}

header h1 {
    color: #fff;
    font-size: 45px;
    text-shadow: 2px 2px black;
    line-height: 1.6em;
}

header p {
    color: #fff;
    text-shadow: 2px 2px black;
}

.textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* #endregion */

/* Länk */
a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

/* Main cointainer to use all troughout the site*/
.container {
    width: 98%;
    margin: auto;
    overflow: hidden;
}

.responsiveimg {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    text-align: left;
    margin-bottom: 2px;
  }

.flex-box {
    display: flex;
    flex-direction: row;
    flex: 70%;
}

.flex-img {
    align-content: center;
    padding: 10px;
    flex: 30%;
}

/* Så att flytande objekt inte krockar eller blir buggiga.*/
.clr {
    clear:both;
}


/* #region Navbar */
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /** För att jag skulle slänga in en logo till vänster och då trycka menyn till höger **/
    background-color: #333;
    color: #fff;
    overflow: hidden;
    margin-bottom: 1rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px 12px;
}

.navbar a:hover {
    background-color: #fff;
    color: #333;
}

.active {
    background-color: rgb(102, 101, 101);
    color: white;
}

.logo {
    max-width: 120px;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: none;
    margin: 0px 5px;
}

.hamburger:focus {
    outline: none;
}

/* #endregion */

.slideshow {
   
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* css för kontaktsida och footer */
.carousel-inner {
    height: 450px;
}

.contactslides{
    border-radius: 4px;
    width: 30%;
    height: auto;
    margin: auto;
    overflow: hidden;
    max-height: 30em;
    margin: 10px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px black;
    font-size: 14px;
}
 .contact{
    
        margin: auto;
        width: 30%;
        align-items: center; 
 }

 .contact input[type=text], .contact select, .contact textarea {
    width: 100%; 
    padding: 6px; 
    border: 2px solid rgb(102, 101, 101);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    resize: vertical 
}

.contact input[type=submit]:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: slategray
    
    
}

.content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: 4em;
}

.push {
    height: 4em;
}

footer {
    border-top: 1px solid rgb(102, 101, 101);
    background-color: #333;
    color: #fff
    
   }


footer p{
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

footer h6{
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;

}
/*Lite bild inställningar*/

#webbsidaBild{
max-width: 30%;
max-height: 50%;
}

#databankBild{
    max-width: 30%;
    max-height: 50%;
    }
    
#appGif{
     max-width: 30%;
     max-height: 50%;
    }

/* Bilder på produktsida */
.fRight{
    float: right;
    margin: 0 0 5px 5px;
}

.fLeft{
    float: left;
    margin: 0  5px  5px 0;
}

.imgFlip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Knapp för att komma till kontakt ifrån produktsidorna */
.prodButton {
    background-color: #1472eec9;
    border-style: solid;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

/** Responsivitet **/

@media screen and (max-width: 767px) {
    .navbar{
        display: none;
        
        flex-direction: column;
        width: 100%;
    }

    .navbar.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .container {
        width: 100%;
    }

    .contact {   
        margin: auto;
        width: 100%;
        align-items: center; 
    }

    .contactslides{
    width: 100%;
    }

    .flex-box, .flex-img {
        flex: 100%
    }
}