* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

/* Header */
#headerback {
    background-image: url(../img/headerback.jpg); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    margin-bottom: 2px;
    text-align: center;
    background-attachment: fixed;
    position: relative;
}

header h1 {
    color: #fff;
    font-size: 45px;
    text-shadow: 2px 2px black;
    line-height: 1.6em;
}

header p {
    color: #fff;
    text-shadow: 2px 2px black;
}

.textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Länk */
a:link {
    color: #fff;
    text-decoration: none;
}


/* Main cointainer to use all troughout the site*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* #region Navbar */
#navbar {
    background-color: #333;
    color: #fff;
    overflow: hidden;
    border-bottom: 1px solid rgb(102, 101, 101);
    margin-bottom: 1rem;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
}

#navbar a:hover {
    background-color: #fff;
    color: #333;
}

.active {
    background-color: rgb(102, 101, 101);
    color: white;
}


/* #endregion */

.slideshow {
   
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* css för kontaktsida och footer */

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
  }
.contactslides{
    border-radius: 25px;
    width: 30%;
    height:  auto;
    margin: auto;
    overflow: hidden;
    max-height: 30em;

}

.content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: 4em;
}

.push {
    height: 4em;
}

footer {
    background-color: gray;
    text-align: center;
}

footer p{
    width: 80%;
    margin: 10px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px black;
    font-size: 14px;
}

footer h6{
    width: 80%;
    margin: 10px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px black;
    font-size: 12px;

}

/* css för produktsida */
.slidershow{
width: 700px;
height: 400px;
overflow: hidden;
}

.middle{
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
}

.navigation{
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid rgba(36, 155, 52, 0.651);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
background: #50fa3a;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
width: 500%;
height: 100%;
display: flex;
}

.slide img{
width: 100%;
height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0%;
}

#r2:checked ~ .s1{
margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
    }

#webbsidaBild{
max-width: 100%;
}

#databankBild{
    max-width: 100%;
    }
    
#appGif{
     max-width: 100%;
    }
